<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LoginSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eda5c9">  <td>19/11/28 12:38:16</td>   <td>0</td> <td title="&gt;&gt;TestRunner.setup()[pri:0, instance:com.agilea.ta.platform.runner.TestRunner@3c41ed1d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@536122141</td>   <td></td> </tr>
<tr bgcolor="aad17b">  <td>19/11/28 12:38:16</td>   <td>246</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.agilea.ta.platform.runner.TestRunner@3c41ed1d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@536122141</td>   <td></td> </tr>
<tr bgcolor="aad17b">  <td>19/11/28 12:38:16</td>   <td>450</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.agilea.ta.platform.runner.TestRunner@3c41ed1d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@536122141</td>   <td></td> </tr>
<tr bgcolor="eda5c9">  <td>19/11/28 12:38:16</td>   <td>564</td> <td title="&lt;&lt;TestRunner.getResult()[pri:0, instance:com.agilea.ta.platform.runner.TestRunner@3c41ed1d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@536122141</td>   <td></td> </tr>
</table>
